/* Personalisacion de BODY*/
body{
    background-color: white;
    margin: 0%;
    padding: 0%;
}

/* Personalisacion de BOTONES */

.boton_inicio{
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: sans-serif;
    display: inline-block;
}


.boton{
    background-color: white;
    color: #bb252b;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    border-bottom: 2px solid #2b4a76;
}


/* Personalisacion de SUBCATEGORIAS */
.Subcategoria{
    margin: 7%;
    padding: 2%;
    background-color: #2b4a76;
    border-radius: 25px;
    color: white;
}

/* Personalisacion GENERAL DE LA WEB*/

.lo{
    padding: 2.5%;
    background-color: #2b4a76;
    margin-bottom: 10px;
    padding-left: 7%;
}

.footer{
    padding: 2.5%;
    padding-bottom: 0%;
    background-color: #1a1a1a;
    margin-bottom: 0px;
    
}

.prenda{
    width: 90%;
    margin-top: 1%;
}

/* Personalisacion de IMAGENES*/

.logo{
    width: 5%;
    display: inline-block;
    vertical-align: middle;  
}

img{
    width: 100%;
    border-radius: 10px;
}
.foto_producto{
    width: 20%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}

.foto_inicio{
    width: 30%;
    margin: 0%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    display: inline-block;
}

/* Personalisacion de TEXTOS*/

#redessociales{
    width: 43%;
    margin: 0%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: middle;
    font-family: sans-serif;
    color: white;
}


.texto{
    width: 63%;
    margin: 0%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: middle;
    font-family: sans-serif;
    color: white;
}

.texto_footer{
    width: 48%;
    margin: 0%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: middle;
    font-family: sans-serif;
    color: white;
}


h3{
    font-family: sans-serif;
    color: white;
}

h2{
    font-family: sans-serif;
    color: white;
}

h1{
    font-family: sans-serif;
    color: white ;
}

.precio{
    margin: 0%;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
    color: white;
    font-weight: 500 ;
}


.currusel{
    width: 30%;
    margin: 5%;
    margin-left: 34.7%;
    border: 5px solid #2b4a76;
}


.proa{
    width: 6%;
    margin-right: 0%;
    margin-bottom: 2%;
}

#login{
    margin: 7%;
    padding: 2%;
    background-color: #2b4a76;
    border-radius: 25px;
    margin: 10%;
}

#busqueda{
    margin-top: 5%;
}

label{
    color: white;
}

.submit{
    margin-left: 1%;
    margin-top: 1%;
}

.elem{
    width: 84%;
}